@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .pokedex {
        flex-direction: column;
        padding: 30px 0;
    }

    .card-pokemon {
        max-width: 300px;
    }

    .card-pokemon .image-card {
        width: 200px;
        height: 200px;
    }

    .card-pokemon .bottom-card-info {
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .card-pokemon .bottom-card-info .details {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .card-pokemon .bottom-card-info h3 {
        font-size: 16px;
    }

    .list {
        max-width: 300px;
    }

    .list ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .list .pokemon {
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .list .pokemon span {
        padding-right: 5px;
    }
}